Health/Mental Health Insights Vulnerable Cancer Patients/data/preprocessed_data.csv

Economics/sales_forecasting/output/sales_forecasting_model.pkl

Biology/Curated Collection of Bacteria/eda_report.html

Education/Top Indian Colleges/eda/Rating_vs_UG_Fee.html
